{% extends 'base.html' %}
{% block title %} Publicaciones {% endblock title %}
{% block content %}
    <div class="ml-5">
        <h3> Publicaciones </h3>
        {% if publications  %}
            <ul class="list-group col-md-6 mt-4">
            {% for publication in publications %}
                <li class="list-group-item p-2">
                    {{ publication.name }}
                    
                        <a href="" class="btn btn-outline-primary float-right">Descargar</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>No hay publicaciones</h3>
        {% endif %}
        <a class="btn btn-primary mt-4" href="{% url 'Publication-Create' %}">Nueva Publicacion</a>
    </div>

{% endblock content %}