{% extends 'base.html' %}
{% block title %} Nueva publicacion {% endblock title %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="">
            <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" placeholder="Nombre">
            <input class="form-control" type="date" name="date" maxlength="100" required id="id_date" placeholder="Fecha">
        </div>

        <div class="">

            <input id="id_genre" name="genre" class="form-control" type="text" list="genres" placeholder="Genero">

            <datalist id="genres">
                {% for item in form.genre %}
                    <option value="{{item.id}}">{{item}}</option>
                {% endfor %}
            </datalist>

            
            <input id="id_project" name="project" class="form-control" type="text" list="projects" placeholder="Investigacion">

            <datalist id="projects">
                {% for item in form.project %}
                    <option value="{{item.id}}">{{item}}</option>
                {% endfor %}
            </datalist>
        </div>
        <input class="form-control" type="file" name="document" required id="id_document" placeholder="Documento">
        <input type="submit" value="Create">
    </form>


{% endblock content %}