{% extends 'base.html' %}
{% load static %}

{% block title %} Publicaciones {% endblock title %}

{% block csspage %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap4.css' %}">
{% endblock csspage %}

{% block content %}
    <button type="button" onclick="return abrir_modal('{% url 'publication_create' %}')" class="btn btn-primary ml-2">
        <i class="nav-icon far fa-plus-square mr-2"></i>
        Nueva
    </button>

    <div class="mt-4">
        <table id="publications" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Investigación</th>
                    <th>Autores</th>
                    <th>Fecha</th>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in publications %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.project }}</td>
                        <td>
                            {% for res in item.authors.all %}
                                <div><a class="mr-2" href="{% url 'Profile' username=res.user.username %}">{{res}}</a></div>
                            {% endfor %}
                        </td>
                        <td>{{ item.date }}</td>
                        <td class="text-center">
                            <a class="fas fa-file-pdf" href="/{{item.document.url}}" target="_blank"></a>
                        </td>
                        <td class="d-flex text-center">
                        {% if  user == item.created_by %}
                            <div class="col-6">
                                <a class="fas fa-edit" onclick="return abrir_modal('{% url 'publication_update' pk=item.id %}')"></a>
                            </div>
                            <div class="col-6">
                                <a class="fas fa-trash-alt" onclick="return abrir_modal('{% url 'publication_delete' pk=item.id %}')"></a>
                            </div>    
                        {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block jspage %}
    <!-- DataTables -->
    <script src="{% static 'datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/dataTables.bootstrap4.js' %}"></script>
    <script>
        $(function () {
            $("#publications").DataTable({
                "language": {
                    "url": "{% static 'datatables/Spanish.json' %}"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 4 },
                    { "width": "12%", "targets": 4 },
                    { "orderable": false, "targets": 5 },
                    { "width": "10%", "targets": 5 }
                ]
            });
        });
    </script>
{% endblock jspage %}