{% extends 'base.html' %}
{% load static %}

{% block title %} Publicaciones {% endblock title %}

{% block csspage %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap4.css' %}">
{% endblock csspage %}

{% block content %}
    <a class="btn btn-primary btn-card ml-2" href="{% url 'Publication-Create' %}">
        <i class="nav-icon far fa-plus-square mr-2"></i>
        Nueva
    </a>

    <div class="mt-4">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Investigación</th>
                    <th>Autores</th>
                    <th>Fecha</th>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in publications %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.project }}</td>
                        <td>{{ item.authors.all }}</td>
                        <td>{{ item.date }}</td>
                        <td class="text-center"><a class="fas fa-file-download" href="/{{item.document.url}}" target="_blank"></a></td>
                        <td class="text-center"><a class="fas fa-edit mr-4" href="#"></a><a class="fas fa-trash-alt" href="#"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        {% comment %} 
        <table id="example1" class="table table-bordered table-striped mt-4">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Investigación</th>
            <th>Autores</th>
            <th>Fecha</th>
            <th>Documento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Trident</td>
            <td>Internet
            Explorer 4.0
            </td>
            <td>Win 95+</td>
            <td> 4</td>
            <td>X</td>
        </tr> 
        {% for item in publications %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.project }}</td>
                <td>{{ item.authors }}</td>
                <td>{{ item.date }}</td>
                <td><a class="fas fa-file-download" href="/item.document.url"></a></td>
                <td><a>Editar</a><a>Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Nombre</th>
            <th>Investigación</th>
            <th>Autores</th>
            <th>Fecha</th>
            <th>Documento</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
        </table>
    <!-- /.card-body -->
    {% endcomment %}
    
    {% comment %} 
    {% if publications  %}
        <ul class="list-group col-md-6 mt-4">
        {% for publication in publications %}
            <li class="list-group-item p-2">
                {{ publication.name }}
                    <a href="" class="btn btn-outline-primary float-right">Descargar</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>No hay publicaciones</h3>
    {% endif %} 
    {% endcomment %}

{% endblock content %}

{% block jspage %}
    <!-- DataTables -->
    <script src="{% static 'datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/dataTables.bootstrap4.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "url": "{% static 'datatables/Spanish.json' %}"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 4 },
                    { "orderable": false, "targets": 5 }
                ]
            });
        });
    </script>
{% endblock jspage %}