{% extends 'base.html' %}
{% block title %} Nueva Investigacion{% endblock title %}
{% block content %}
    <div class="container">

      <form method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input id="id_name" name="name" type="text" class="form-control" placeholder="Nombre">
        </div>

        <div class="input-group">
          <textarea id="id_description" name="description" class="form-control" placeholder="Descripción"></textarea>
        </div>

        <div class="input-group">
          <textarea id="id_background" name="background" class="form-control" placeholder="Antecedentes"></textarea>
        </div>

        <div class="input-group">
            <input id="id_responsible" name="responsible" class="form-control" type="text" list="responsibles" placeholder="Responsable">

            <datalist id="responsibles" >
                {% for resp in form.responsible %}
                    <option value="{{resp.id}}">{{resp}}</option>
                {% endfor %}
            </datalist>
        </div>
        
        <div class="row">
          <div class="col-md-8">
          </div>
          <!-- /.col -->
          <div class="col-md-4">
            <button type="submit" value="Create" class="btn btn-primary btn-block btn-flat">Crear</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

{% endblock content %}
