{% extends 'base.html' %}
{% load static %}
{% block title %} Investigaciones {% endblock title %}
{% block content %}
    <h1> Investigaciones </h1>

    <div class="container-fluid">
     {% if projects %}
        <ul>
            {% for project in projects %}
                <li> <a href="{% url 'Project-Detail' pk=project.id %}">{{ project.name }} id: {{ project.id }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No hay investigaciones </h2>
    {% endif %}

    </div>

{% endblock content %}
