@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    font-family: "Open Sans";
    color: rgba(33,33,33,1);
    font-size: 18px
}

/* Navigation bar styles*/
#untdf-logotype {
    width: 5rem;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.bg {
    background: url("../assets/beagle-channel-ushuaia.jpg") no-repeat center;
    background-position-y: -120px;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 380px;
    left: 0;
    z-index: -1;
}

.jumbotron {
    background: transparent;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.500) 0.3em 0.3em 0.3em;
    margin-top: 62px;
    margin-bottom: 80px;
    border-radius: 0px;
}

.jumbotron h1 {
    font-family: "Oswald";
    font-size: 300%;
    font-weight: bold;
}

.jumbotron hr {
    width: 31%;
    height: 7px;
    background: rgb(240, 40, 40, 0.900);
    margin: 0 auto auto 4px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Mision  */
#tdf-image {
    height: 90%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
}

#image-tdf {
    margin-left: 40px;
}

#mision p{
    text-align: justify;
    font-family: "Open Sans";
    color: rgba(33,33,33,1);
    font-size: 18px;
    margin-left: 100px;
    margin-top: 20px;
}

#mision h1 {
    margin-left: 100px;
}

/* Contact */
#contact {
    margin-top: 80px;
}
#contact p {
    margin-left: 100px;
    margin-top: 20px;
    text-align: left;
}

#contact h1 {
    margin-left: 100px;
}


/* Footer styles */
footer {
    margin-top: 80px;
    width: 100%;
    height: 57px;
    background-color: #212529;
    text-align: center;
} 
  
footer p {
    font-size: 15px;
    color: #f0f0f0;
    padding-top: 17px;
}

/* Responsive media queries */
@media(max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron hr {
        height: 5px;
        width: 70%;
    }
}
