@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: left;
    font-family: "Open Sans";
    color: rgba(33,33,33,1);
    font-size: 18px
}

/* Navigation bar styles*/
nav ul li {
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}
.jumbotron {
    background-image: url("/directory/templates/assets/beagle-channel-ushuaia.jpg");
    background-size: cover;
    background-position-y: 28%;
    text-align: left;
    margin-top: 5%;
}

.jumbotron h1 {
    font-family: "Oswald";
    font-size: 300%;
    font-weight: bold;
}

.jumbotron hr {
    width: 40%;
    height: 7px;
    background: rgba(255,82,82,1.0000000000);
    margin: 0 auto auto 0.3%;
}

#tdf-image {
    height: 90%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#mision {
    margin: 5% 5% auto 5%;
}

#mision-paragraph {
    text-align: left;
    font-family: "Open Sans";
    color: rgba(33,33,33,1);
    font-size: 18px;
}

#contact{
    margin: 5% 5% auto 5%;
}

#contact-paragraph {
    text-align: left;
}


/* Footer styles */
footer {
    margin-top: 4%;
    width: 100%;
    height: 10%;
    background-color: #212529;
} 
  
footer p {
    font-size: 15px;
    color: #f0f0f0;
    padding-top: 17px;
    text-align: center;
}

/* Responsive media queries */
@media(max-width: 700px) {
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron hr {
        height: 5px;
        width: 70%;
    }
}
