{% extends 'base.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}
{% block content %}
    <div class="wrapper">
        <!-- Titulo -->
        <div class="jumbotron">
            <h1> OBSERVATORIO</h1>
            <h1> TERRITORIAL T.D.F </h1>
            <hr>
        </div>

        <div class="content-index text-justify">
            <!-- Mision Texto e imagen -->
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            Misión
                        </h1>
                        <p>
                            El Observatorio Territorial busca poner a disposición de la comunidad fueguina
                            la información geográfica producida por investigaciones de la Universidad Nacional
                            de Tierra del Fuego, así como divulgar las líneas de investigación y facilitar
                            contactos entre sus integrantes y de ellos con actores del territorio.
                        </p>
                    </div>
                    <div class="col-md-6 p-2 image-tdf">
                        <img src=" {%  static 'assets/pic.jpg' %}" alt="mapa tierra del fuego">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Contacto
                        </h1>
                        <p>
                            Esta página es mantenida por Daniel Badagnani (ICPA, dbadagnani@untdf.edu.ar).
                            Por información de contacto de los investigadores de cada linea por favor navegue
                            por las páginas correspondientes a las lineas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
