{% extends 'base.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}
{% block content %}
        <!-- Titulo -->
        <div class="bg"></div>
        <div class="jumbotron">
            <h1> OBSERVATORIO</h1>
            <h1> TERRITORIAL T.D.F </h1>
            <hr>
        </div>

        <!-- Mision Texto e imagen -->
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-6" id="mision">
                        <h1>
                            MISIÓN
                        </h1>
                        <p id="mision-paragraph">
                            El Observatorio Territorial busca poner a disposición de la comunidad fueguina
                            la información geográfica producida por investigaciones de la Universidad Nacional
                            de Tierra del Fuego, así como divulgar las líneas de investigación y facilitar
                            contactos entre sus integrantes y de ellos con actores del territorio.
                        </p>
                    </div>
                    <div class="col-md-3" id="image-tdf">
                        <img src=" {%  static 'assets/pic.jpg' %}" alt="mapa tierra del fuego" id="tdf-image">
                    </div>
            </div>
            <div class="row">
                <div class="col-md-10" id="contact">
                    <h1>
                        CONTACTO
                    </h1>
                    <p>
                        Esta página es mantenida por Daniel Badagnani (ICPA, dbadagnani@untdf.edu.ar).
                        Por información de contacto de los investigadores de cada linea por favor navegue
                        por las páginas correspondientes a las lineas.
                    </p>
                </div>
            </div>
        </div>
        
{% endblock content %}
{% block app_javascript %}
    <script type='text/javascript'>
        let jumboHeight = $('.jumbotron').outerHeight();
        function parallax(){
            let scrolled = $(window).scrollTop();
            $('.bg').css('height', (jumboHeight-scrolled) + 'px');
        }

        $(window).scroll(function(e){
            parallax();
        });
    </script>
{% endblock app_javascript %}
