<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    {%include 'navbar.html'%}

    <!-- Titulo -->
    <div class="container-fluid">
        <div class="jumbotron">
                <h1> OBSERVATORIO</h1>
                <h1> TERRITORIAL T.D.F </h1>
                <hr>
        </div>
    </div>

    

    <!-- Texto e imagen -->
    <div class="container-fluid" id="mision">
        <div class="row">
                <div class="col-md-6" id="mision-title">
                        <h1>
                            MISIÓN
                        </h1>
                        <p id="mision-paragraph">
                            El Observatorio Territorial busca poner a disposición de la comunidad fueguina 
                            la información geográfica producida por investigaciones de la Universidad Nacional 
                            de Tierra del Fuego, así como divulgar las líneas de investigación y facilitar 
                            contactos entre sus integrantes y de ellos con actores del territorio.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/pic.jpg" alt="mapa tierra del fuego" id="tdf-image">
                    </div>
        </div>
    </div>

    <div class="container-fluid" id="contact">
        <div class="row">
                <div class="col-md-11" id="contact-title">
                    <h1>
                        CONTACTO
                    </h1>
                    <p id="contact-paragraph">
                        Esta página es mantenida por Daniel Badagnani (ICPA, dbadagnani@untdf.edu.ar). 
                        Por información de contacto de los investigadores de cada linea por favor navegue 
                        por las páginas correspondientes a las lineas.
                    </p>
                </div>
        </div>
    </div>

    <footer>
            <p>
                &copy; Ignacio Perez - Brian Rigoni - 2019
            </p>
    </footer>

    <!-- Scripts -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>