{% load static %}
{% load thumbnail %}

<aside class="main-sidebar elevation-4 sidebar-dark-info">
<!-- Brand Logo -->
    <div class="d-flex">
        <a href="http://www.untdf.edu.ar/" class="brand-link">
            <img src="{% static 'assets/isologotipo.png' %}" class="brand-image untdf" style="opacity: .8">
        </a>
    </div>

    {% if user.is_authenticated %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3">
            <div class="image-profile pull-left">
                {% thumbnail user.researcher.profile_picture "200x200" crop="center" as im %}
                    <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="pull-left" alt="Image profile">
                {% endthumbnail %}
            </div>
            <div class="info brand-text pagetext-color"> 
                <a href="{% url 'Profile' username=user.username %}" class="d-block mb-2">{{ user.username }}</a>
                <i class="fas fa-sign-out-alt"></i>
                <a href="{% url 'Logout' %}">Cerrar Sesión</a>
            </div>
        </div>
    {% endif %}

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        {% if user.is_authenticated %}
            
            {% if user.is_staff %}
                {% comment %} <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                    Dashboard
                    <i class="right fa fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v1</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v2</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                    </li>
                </ul>
                </li> {% endcomment %}
                <li class="nav-item">
                <a href="/admin/" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                    Admin
                    </p>
                </a>
                </li>
            {% endif %}


            <li class="nav-item">
            <a href="{% url 'project_list' %}" class="nav-link">
                <i class="nav-icon fa fa-th"></i>
                <p>
                Investigaciones
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
            </a>
            </li>
            {% comment %} <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-pie-chart"></i>
                <p>
                Charts
                <i class="right fa fa-angle-left"></i>
                </p>
            </a> {% endcomment %}  
            <li class="nav-header">PERFIL</li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar"></i>
                <p>
                Calendario
                <span class="badge badge-info right">Pronto</span>
                </p>
            </a>
            </li>
            <li class="nav-item {% comment %} has-treeview {% endcomment %}">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-envelope-o"></i>
                <p>
                Correo
                <span class="badge badge-info right">Pronto</span>
                {% comment %} <i class="fa fa-angle-left right"></i> {% endcomment %}
                </p>
            </a>
            {% comment %} <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Inbox</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Compose</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Read</p>
                </a>
                </li>
            </ul> {% endcomment %}
            </li>
            <li class="nav-item">
            <a href="{% url 'publication_list' %}" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                Publicaciones
                </p>
            </a>
            </li>
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-sliders-h"></i>
                <p>
                Opciones
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a class="nav-link" onclick="return abrir_modal('{% url 'profile_update' pk=user.researcher.id %}')">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Modificar perfil</p>
                </a>
                </li>
            </ul>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'SignIn' %}" class="nav-link">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                    Ingresar
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'SignUp' %}" class="nav-link">
                    <i class="nav-icon fa fa-user-plus"></i>
                    <p>
                    Registrarse
                    </p>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
        
</div>
<!-- /.sidebar -->
</aside>