{% load static %}

<aside class="main-sidebar elevation-4 sidebar-dark-info">
<!-- Brand Logo -->
    <div class="d-flex">
        <a href="http://www.untdf.edu.ar/" class="brand-link">
            <img src="{% static 'assets/isologotipo.png' %}" class="brand-image untdf" style="opacity: .8">
        </a>
    </div>

    {% if user.is_authenticated %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-1">
            <div class="image-profile pull-left">
                <img src="{% static 'assets\default-profile.png' %}" class="pull-left" alt="Image profile">
            </div>
            <div class="info brand-text"> 
                <a href="#" class="d-block mb-2">{{user.username}}</a>
                <i class="fa fa-sign-out"></i>
                <a href="{% url 'Logout' %}">Cerrar sesión</a>
            </div>
        </div>
    {% endif %}

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        {% if user.is_authenticated %}
            
            {% if user.is_staff %}
                <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                    Dashboard
                    <i class="right fa fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Dashboard v1</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Dashboard v2</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                    </li>
                </ul>
                </li>
                <li class="nav-item">
                <a href="/admin/" class="nav-link">
                    <i class="nav-icon fa fa-pie-chart"></i>
                    <p>
                    Admin
                    </p>
                </a>
                </li>
            {% endif %}


            <li class="nav-item">
            <a href="{% url 'Projects-List' %}" class="nav-link">
                <i class="nav-icon fa fa-th"></i>
                <p>
                Investigaciones
                <span class="right badge badge-danger">New</span>
                </p>
            </a>
            </li>
            {% comment %} <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-pie-chart"></i>
                <p>
                Charts
                <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="charts/chartjs.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>ChartJS</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="charts/flot.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Flot</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="charts/inline.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Inline</p>
                </a>
                </li>
            </ul>
            </li> 
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-tree"></i>
                <p>
                UI Elements
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>General</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Icons</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Buttons</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Sliders</p>
                </a>
                </li>
            </ul>
            </li>
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-edit"></i>
                <p>
                Forms
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="forms/general.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>General Elements</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="forms/advanced.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Advanced Elements</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="forms/editors.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Editors</p>
                </a>
                </li>
            </ul>
            </li>
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                Tables
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="tables/simple.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Simple Tables</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="tables/data.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Data Tables</p>
                </a>
                </li>
            </ul>
            </li>
            {% endcomment %}
            <li class="nav-header">PERFIL</li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                Calendario
                <span class="badge badge-info right">2</span>
                </p>
            </a>
            </li>
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-envelope-o"></i>
                <p>
                Correo
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Inbox</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Compose</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Read</p>
                </a>
                </li>
            </ul>
            </li>
            <li class="nav-item">
            <a href="{% url 'Publication-List' %}" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                Publicaciones
                </p>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-plus-square-o"></i>
                <p>
                Opciones
                </p>
            </a>
            </li>
            {% comment %} <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                Publicaciones
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="examples/invoice.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Invoice</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="examples/profile.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Profile</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="examples/login.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Login</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="examples/register.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Register</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="examples/lockscreen.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Lockscreen</p>
                </a>
                </li>
            </ul>
            </li>
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-plus-square-o"></i>
                <p>
                Opciones
                <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Error 404</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Error 500</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Blank Page</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Starter Page</p>
                </a>
                </li>
            </ul>
            </li>
            <li class="nav-header">MISCELLANEOUS</li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-file"></i>
                <p>Documentation</p>
            </a>
            </li>
            <li class="nav-header">LABELS</li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-danger"></i>
                <p class="text">Important</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-warning"></i>
                <p>Warning</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-info"></i>
                <p>Informational</p>
            </a>
            </li> {% endcomment %}
        {% else %}
            <li class="nav-item">
                <a href="{% url 'SignIn' %}" class="nav-link">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                    Ingresar
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'SignUp' %}" class="nav-link">
                    <i class="nav-icon fa fa-user-plus"></i>
                    <p>
                    Registrarse
                    </p>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
        
</div>
<!-- /.sidebar -->
</aside>