<div class="social-auth-links text-center">
    <p>- O -</p>
    <div class="btn btn-block btn-social btn-facebook">
        <a href="#">
            <div>
                <img class="pull-left" width="20px" alt="Facebook" src="https://upload.wikimedia.org/wikipedia/commons/0/07/Facebook_logo.png">
            </div> 
            Acceder con Facebook
        </a>
    </div>
    <div class="btn btn-block btn-social btn-google">
        <a href="#">
            <div>
                <img class="pull-left" width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            </div>
            Acceder con Google
        </a>
    </div>
</div>