<!doctype html>
<html class="no-js" lang="es-ar">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Investigador</th>
                <th>E-Mail</th>
            </tr>        
        </thead>
        <tbody>
        {% for r in researcher %}
            <tr>
                <td>{{r.names}}</td>            
                <td>{{r.email}}</td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('table').DataTable();
        } );
    </script>
</body>

</html>