@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*
 *   General
 *  -----------------
 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    /* font-family: "Open Sans";
    color: rgba(33,33,33,1);
    font-size: 18px; */
}
.jumbotron {
    position: relative;
    background-image: url("../assets/beagle-channel-ushuaia.jpg");
    background-position-y: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.500) 0.3em 0.3em 0.3em;
    margin: 0;
}
.project-jumbotron {
    background-position-y: 24%;
    text-align: center;
    text-transform: capitalize;
}
.jumbotron h1 {
    font-family: "Oswald";
    font-size: 300%;
    font-weight: bold;
}
.jumbotron hr {
    width: 31%;
    height: 7px;
    background: rgb(240, 40, 40, 0.900);
    margin: 0 auto auto 4px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.container-fluid {
    padding: 0 7.5px 7.5px 7.5px;
}
.text-justify .row {
    margin-top: 2rem;
}
.text-justify .row p {
    margin: 0;
    padding: 0 2%;
}
.image-tdf {
    height: fit-content;
}
.image-tdf img {
    width: 90%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
}

h1 {
    width: -webkit-fill-available;
}
@media(max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron hr {
        height: 5px;
        width: 70%;
    }
    .image-tdf img {
        width: 100%;
    }
}
/*
 *   Sidebar
 *  -------------------------
 */
.sidebar {
    padding: 0;
    height: auto;
    overflow: hidden;
    position: sticky;
}
.main-sidebar {
    overflow-y: scroll;
}
.main-sidebar::-webkit-scrollbar {
    display: none;
}
.untdf {
    width: 90%;
    max-height: unset;
}
.brand-image {
    margin: 0 .5rem 0 .5rem;
}
.image-sidebar {
    border-radius: 50%;
}
.pagetext-color *{
    color: #C2C7D0;
}
.image-profile {
    width: 50px;
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 8px 0 8px;
    position: relative;
    border: #C2C7D0 outset thick;
    border-radius: 50%;
}
.user-panel .info {
    position: absolute;
    top: -3px;
    right: 63px;
}
.image-profile img {
    max-width: none !important;
    width: 100%;
}
 /*
 *   Navbar
 *  -----------------
 */
.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: -webkit-fill-available;
}
.navbar img {
    width: 5rem;
}
.footer {
    width: 100%;
    height: auto;
    background-color: #212529;
    text-align: center;
    padding: 1%;
}
.footer p {
    font-size: 15px;
    color: #f0f0f0;
    margin: 0;
}
.card-primary:not(.card-outline) .card-header, .nav-link.active,
.page-item.active a {
    background-color: #20B7BD !important;
} 
.page-item.active a, .card-primary.card-outline {
    border-color: #20B7BD !important;
}
.modal-body {
    margin-top: 0;
}
.modal-body label ~ label, .modal-body input[type="file"], .modal-footer {
    margin-top: 1rem;
}
/*
 *   Lockscreen Page
 *  -----------------
 */
.lockscreen-wrapper {
    margin-top: 4rem;
}
.lockscreen-help-block {
    margin: 4rem auto;
    max-width: 21rem;
    padding: 4%;
    background-color: #ffffffb6;
    border-radius: 1rem;
}
.lockscreen-arrow-btn {
    border: none !important;
    background-color: transparent;
    box-shadow: none !important;
}
.lockscreen-arrow-btn:active {
    font-size: 90%;
}
.lockscreen-arrow-btn:focus {
    outline: 5px auto transparent;
}

.background-beagle {
    background: url("../assets/beagle-channel-ushuaia.jpg") no-repeat;
    background-size: auto;
}
/*
 *   Login and Register Page
 *  -------------------------
 */
.login-page,
.lockscreen,
.register-page {
    background: transparent;
}
.logo-title {
    display: block;
    color: #ffffff; 
    font-size: 70px;
    margin-left: -0.7rem;
    text-shadow: black 5px 10px 17px;
}
.logo-subtitle {
    display: block;
    color: #ffffff; 
    font-size: 40px;
    text-align: center;
    margin: -1.5rem auto 2rem 11rem;
    text-shadow: black 7px 5px 7px;
}
.login-box, 
.register-box {
    width: 360px;
    margin-top: 2%;
}
.login-box { 
    margin-bottom: auto;
}
.register-box {
    margin-bottom: 4%;
}
.login-box-body, 
.register-box-body {
    background: rgba(255, 255, 255, 0.801);
}
.social-auth-links {
    margin: 1% auto 5%;
}
.input-group {
    position: relative;
    margin-bottom: 5%;
    align-items: center;
    width: 100%;
}
.input-group-text {
    height: 35px;
    width: 40px;
}

/*
 * Page: Profile
 * -------------
 */
.profile-user-img {
    margin: 0 auto;
    width: 70%;
    padding: 1px;
    border: 3px solid #adb5bd;
    border-radius: 1rem;
} 
.content-wrapper {
    margin-top: 3.5rem;
}
/*
 *   General
 *  ---------
 */
.btn-social {
    margin-bottom: 3%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.300) 5px 5px 5px;
    font-family: 'Roboto';
    text-align: left;
}
.btn-social img {
    margin: 0.8% 1rem auto -1rem;
    border-radius: 3px;
}
.btn-facebook a {
    color: #ffffff;
}
.btn-google {
    background-color: #ffffff;
}
.btn-google a {
    color: #70757a;
}
.btn-facebook:focus,
.btn-facebook:hover {
    box-shadow: inset; 
}
.btn-facebook:active {
    outline: none;
}

.select2-selection__choice {
    background-color: #5897fb !important;
}
